:root {
  --primary-white-color: #fff;
  --secondary-background-color: #f5f4fa;
  --third-background-color: #2f303a;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --logo-black-color: #000;
  --footer-text-color: rgba(255, 255, 255, 0.6);
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.link {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid tomato;
}
/* LOGO */
.header-logo.link,
.footer-logo.link {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo-black-color);
}
.footer-logo.link {
  color: var(--primary-white-color);
}
.header-logo span,
.footer-logo span {
  color: var(--accent-color);
}
footer {
  background-color: var(--third-background-color);
}

/* HEADER */
.header-container,
.nav-container,
.site-nav,
.contact-nav {
  display: flex;
  align-items: center;
}
.site-nav {
  margin-left: 93px;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.contact-nav {
  margin-left: auto;
}
.contact-nav .item:not(:last-child) {
  margin-right: 50px;
}
.site-nav .link,
.contact-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link {
  color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
.contact-nav .link {
  color: var(--primary-text-color);
}
.contact-nav .link:hover,
.address .link:hover,
.contact-nav .link:focus,
.address .link:focus {
  color: var(--accent-color);
}
/* SECTION HERO */
.hero {
  background-color: var(--third-background-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
.hero-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

/* OTHER SECTION */
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--title-text-color);
}
.specifics-list .description-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.description-title {
  color: var(--title-text-color);
}
.team-list {
  background-color: var(--secondary-background-color);
}

.team-list .description-title,
.team-list .description {
  font-size: 16px;
  line-height: 1.19;
}
.team-list .description-title {
  font-weight: 500;
}

/* FOOTER */
.address {
  font-style: normal;
}
.address p {
  color: var(--primary-white-color);
}
.address .link {
  color: var(--footer-text-color);
}

/* PORTFOLIO */
.portfolio-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--secondary-background-color);
  cursor: pointer;
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.work-list .description-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.work-list .description {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}
